*{
    margin:0px;
    padding:0px;
}

nav-bar{
  height: 100px;
  width: 100%;
  border-top:1px solid #2196F3;
}

.navlogo{
  float: left;
  width: 200px;
  height: 40px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: flex-end;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.tagholder{
  position: relative;
  align-items: center;
  height: 50px;
  background-color: cornflowerBlue;
  font-family: serif;
  font-size: 20px;
}

/* .container2{
  height: 600px;
  width:100%;
  background-color: ;
} */

.gridpic{
  width: 270px;
  height:200px;
}

.infotable{
  position: relative; 
  border-spacing: 0;
  border: solid 2px;
  width: 100%;
  border-style: double;
  border-color: grey;
  font-family: sans-serif;
  margin-right: 10px;
}

.tablecontainer{
    width: 100%;
    height: 500px;
}

label{
    font-size: 20px;
}

.but{
  width: 80px;
  height: 25px;
  background-color: aliceblue;
  border-radius: 10px;
  font-size: 15px;
}

.button{
  width: 100px;
  height: 30px;
  background-color: CornflowerBlue;
  border-radius: 10px;
}

.button2{
  width: 100px;
  height: 30px;
  background-color: Red;
  border-radius: 10px;
}

.button3{
  width: 100px;
  height: 30px;
  background-color: Cyan;
  border-radius: 10px;
}

.selecttype{
  height: 20px;
}

.infotable th{
  background-color:DarkCyan;
  color: White;
  font-weight: Bold;
  height: 50px;
  border-bottom: ridge;
  border-color: steelblue;
}

.infotable td{
  background-color: FloralWhite;
  text-align: center;
  height: 70px;
  border-bottom:ridge;
}

.footer{
  position:relative;
  width: 100%; 
  height: 100px;
  background-color: black;
  font-size: large;
  font-family: serif;
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.footer a{
  color: white;
  text-decoration: none;
}